*{ margin:0; 
padding:0;}

h1 {color:#000000;
font-weight:bold;
text-align:center;
text-shadow:rgba(100,100,100,0.8) 10px 10px 10px;
font-size:90px;
font-family:cinzel,serif;
height:90px;
padding:20px;}

#main-body {width:1030px;
margin: auto;
background:#E7E7E7;
font-family:candara,serif;}
  
ul {list-style-type:none;
height:50px;}
  
li {float:left;}

li a {text-decoration:none;
text-align:center;
background-color:#4D4D4D;
color:white;
padding:12px 0px;
display:block; 
font-weight:bold;
font-size:19px;
font-family:cinzel,serif;
width:202px;
border:2px solid transparent;}

li a:hover {color:#000000;
background-color:#E7E7E7;
border:solid 2px #000000;}

li a:active {color:#000000;
background-color:#E7E7E7;}

#home{position:relative;}
#home-photo {width:100%;}
#home-song {position:absolute;
left:80px;
top:50px;
width:350px;
font-size:35px;
text-align:left;
color:white;
font-family:'Tangerine', cursive;}

#song-header {font-size:45px;
line-height:150%;
font-weight:bold;}
 
#biography {margin-left:40px;
margin-right:40px;
margin-bottom:20px;}

h2 {font-family:cinzel,serif;
text-decoration:underline;
margin:30px;
font-weight:bold;}

#biography-photo {position:relative;
border:solid transparent 2px;
border-radius:100px;
width:20%;
float:left;
margin-right:30px;
height:auto;}

#paragraph-biography{text-indent:30px;
line-height:150%;
font-size:15px;
 text-align:justify;}

#albums {margin-left:40px;margin-right:40px;margin-bottom:20px;}

.albums-photo {width:15%;
  padding:0.8px;
  float:left;
  border:7px solid transparent;
  background-color:#E7E7E7;}

#message {margin-left:40px;margin-right:40px;margin-bottom:20px;}

.paragraph-message{line-height:150%;
padding-left:30px;
font-size:15px;
text-align:justify;}

h4 {font-family:cinzel,serif;
text-decoration:underline;
padding-left:30px;
padding-bottom:10px;
font-weight:bold;}

h4 a {color:black;}

#contact {margin-left:40px;margin-right:40px;}

#mail-image {width:3%;
margin:20px;}

#paragraph-mail {padding-left:30px;
line-height:150%;
font-size:16px;
text-align:justify;
float:left;}

#up-icon {width:30px;
float:right;}

footer {text-align:center;
font-weight:bold;
font-size:22px;
background-color:#4D4D4D;
color:white;}





